<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486450059601-a832viur7h1ccdhpteobo0c9teu20ar9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486450059601-a832viur7h1ccdhpteobo0c9teu20ar9</string>
	<key>API_KEY</key>
	<string>AIzaSyCrbX6WMCXIU9qbEaXv1IyaOskUX6_syPs</string>
	<key>GCM_SENDER_ID</key>
	<string>486450059601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunnyle.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1202e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1202e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486450059601:ios:bc9c8859be951d08741b70</string>
</dict>
</plist>